@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

html {
  scroll-behavior: smooth;
  animation: ease-in-out;
}

body {
  font-family: 'NeueMontreal', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f4f4f4;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  @font-face {
    font-family: 'NeueMontreal';
    font-style: normal;
    font-weight: 400;
    font-display: "neuemontreal";
    src: url(/NeueMontreal-Regular.otf) format('opentype');
  }
}

@layer base {
  @font-face {
    font-family: 'NeueMontrealMed';
    font-style: medium;
    font-weight: 400;
    font-display: "neuemontreal";
    src: url(/NeueMontreal-Medium.otf) format('opentype');
  }
}

@layer base {
  @font-face {
    font-family: 'Meditative';
    font-style: bold;
    font-weight: 400;
    font-display: "meditative";
    src: url(/Meditative.ttf) format('trueType');
  }
}
